  /* label color */
  .input-field label {
    color: #000 !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #a95aec !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #a95aec !important;
    box-shadow: 0 1px 0 0 #a95aec !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #a95aec ;
    box-shadow: 0 1px 0 0 #a95aec ;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #a95aec ;
    box-shadow: 0 1px 0 0 #a95aec ;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #a95aec;
  }

  .dropdown-content li>span{
    color: #a95aec !important;
  }
 

.select-wrapper+label.valid  {
    position: absolute;
    top: -26px;
    font-size: 0.8rem;
    border-bottom: 1px solid #a95aec !important ;
    box-shadow: 0 1px 0 0 #a95aec !important ;
}
#cadastrar{
    margin-left: 2px;
    background-color:green;
}
#editar{
  margin-left: 2px;
  background-color:green;
}
#voltar{
    background-color:grey;
}
#voltar a{
  color:white;
}
.float{
  float:right;
}
 